<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomaszd.drfever">

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectDrugActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParacetamolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNewUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DosageDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PillDosageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SirupDosageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CzopekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IbuprofenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DosageDetailsIbuprofen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PillDosageIbuprofenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SirupDosageIbuprofenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CzopekIbuprofenActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>