<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomaszd.drfever">

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectDrugActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ParacetamolActivity" />
        <activity android:name=".AddNewUserActivity" />
        <activity android:name=".DosageDetails" />
        <activity android:name=".PillDosageActivity" />
        <activity android:name=".SirupDosageActivity" />
        <activity android:name=".CzopekActivity" />
        <activity android:name=".IbuprenActivity" />
        <activity android:name=".DosageDetailsIbuprofen"></activity>
    </application>

</manifest>